.footer{
    margin: auto;
    max-width: 80%;
    border-top: 1px solid #989898;
    padding: 15px 0px;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
}

ul{
    list-style: none;
    display: flex;
    gap: 10px;

    img{
        height: 25px;
        transition: all 0.4s ease-in-out;
    }

    img:hover{
        transform: scale(1.1);
        cursor: pointer;
    }
}